org.bpel4chor.mergeChoreography.test/output/Szenario8/Szenario4_SimpleFHArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fh="http://uni-stuttgart.de/iaas/bpel/FaultHandler" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uni-stuttgart.de/iaas/bpel/SWAIL" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWAIL" targetNamespace="http://uni-stuttgart.de/iaas/bpel/SWAIL">

	<import location="FaultHandlerArtifacts.wsdl" namespace="http://uni-stuttgart.de/iaas/bpel/FaultHandler"/>

	<vprop:property name="startcfhp" type="xsd:string"/>
	<vprop:propertyAlias messageType="tns:SWAILRequestMessage" part="payload" propertyName="tns:startcfhp">
    <vprop:query><![CDATA[//tns:corId[1]]]></vprop:query>
	</vprop:propertyAlias>
	<vprop:propertyAlias messageType="fh:FaultHandlerRequestMessage" part="payload" propertyName="tns:startcfhp">
    <vprop:query><![CDATA[//fh:input[1]]]></vprop:query>
	</vprop:propertyAlias>
	
	<plnk:partnerLinkType name="clientPLT">
		<plnk:role name="roleClient" portType="tns:SWAIL"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="faultHandlerPLT">
		<plnk:role name="roleFaultHandler" portType="fh:FaultHandlerPT"/>
	</plnk:partnerLinkType>

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://uni-stuttgart.de/iaas/bpel/SWAIL">

			<element name="SWAILRequest">
				<complexType>
					<sequence>
						<element name="corId" type="string"/>
						<element name="input" type="string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="SWAILRequestMessage">
		<part element="tns:SWAILRequest" name="payload"/>
	</message>

	<portType name="SWAIL">
		<operation name="process">
			<input message="tns:SWAILRequestMessage"/>
		</operation>
	</portType>

	<binding name="SWAILSOAPBinding" type="tns:SWAIL">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process">
			<soap:operation soapAction="http://uni-stuttgart.de/iaas/bpel/SWAIL/process"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>

	<service name="SWAILProcessService">
		<port binding="tns:SWAILSOAPBinding" name="SWAILProcessPort">
			<soap:address location="http://localhost:8080/ode/processes/SWAIL"/>
		</port>
	</service>
</definitions>
