org.bpel4chor.mergeChoreography.test/input/process1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap" xmlns:tns="http://www.iaas.uni-stuttgart.de"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Process1"
	targetNamespace="http://www.iaas.uni-stuttgart.de">
	<plnk:partnerLinkType name="zwPLT">
		<plnk:role name="zwRole" portType="tns:zwPT" />
	</plnk:partnerLinkType>
	<wsdl:message name="controlLinkMessage">
		<wsdl:part name="status" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="processRequest">
		<wsdl:part name="someText" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="startProcess">
		<wsdl:operation name="startProcess1">
			<wsdl:input message="tns:processRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="zwPT">
		<wsdl:operation name="ReceiveP2ToP1Operation">
			<wsdl:input message="tns:controlLinkMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="zwPT">
		<wsdl:operation name="startProcess">
			<wsdl:input message="tns:processRequest" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
