org.bpel4chor.mergeChoreography.test/output/Szenario16/Szenario_withInvokeFHFaultArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uni-stuttgart.de/iaas/bpel/Szenario_withInvokeFHFault" name="Szenario_withInvokeFHFault" targetNamespace="http://uni-stuttgart.de/iaas/bpel/Szenario_withInvokeFHFault">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://uni-stuttgart.de/iaas/bpel/Szenario_withInvokeFHFault">

			<element name="Szenario_withInvokeFHFaultRequest">
				<complexType>
					<sequence>
						<element name="input" type="string"/>
					</sequence>
				</complexType>
			</element>

			<element name="Szenario_withInvokeFHFaultResponse">
				<complexType>
					<sequence>
						<element name="result" type="string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="MyServiceFault">
				<sequence>
					<element name="faultCode" nillable="true" type="string"/>
					<element name="faultString" nillable="true" type="string"/>
				</sequence>
			</complexType>
			<complexType name="MyServiceException">
				<sequence>
					<element name="faultInfo" nillable="true" type="tns:MyServiceFault"/>
				</sequence>
			</complexType>
			<element name="MyServiceException" type="tns:MyServiceException"/>
		</schema>
	</types>

	<message name="Szenario_withInvokeFHFaultRequestMessage">
		<part element="tns:Szenario_withInvokeFHFaultRequest" name="payload"/>
	</message>
	<message name="Szenario_withInvokeFHFaultResponseMessage">
		<part element="tns:Szenario_withInvokeFHFaultResponse" name="payload"/>
	</message>
	<message name="MyServiceException">
		<part element="tns:MyServiceException" name="payload"/>
	</message>

	<portType name="Szenario_withInvokeFHFault">
		<operation name="process">
			<input message="tns:Szenario_withInvokeFHFaultRequestMessage"/>
			<output message="tns:Szenario_withInvokeFHFaultResponseMessage"/>
			<fault message="tns:MyServiceException" name="MyServiceException"/>
		</operation>
	</portType>

	<plnk:partnerLinkType name="Szenario_withInvokeFHFault">
		<plnk:role name="Szenario_withInvokeFHFaultProvider" portType="tns:Szenario_withInvokeFHFault"/>
	</plnk:partnerLinkType>

	<binding name="Szenario_withInvokeFHFaultSOAPBinding" type="tns:Szenario_withInvokeFHFault">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process">
			<soap:operation soapAction="http://uni-stuttgart.de/iaas/bpel/Szenario_withInvokeFHFault/process"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MyServiceException">
				<soap:fault name="MyServiceException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="Szenario_withInvokeFHFaultProcessService">
		<port binding="tns:Szenario_withInvokeFHFaultSOAPBinding" name="Szenario_withInvokeFHFaultProcessPort">
			<soap:address location="http://localhost:8080/ode/processes/Szenario_withInvokeFHFault"/>
		</port>
	</service>
</definitions>
