org.bpel4chor.mergeChoreography.test/output/Szenario4/Scenario4withPrintServiceArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fh="http://uni-stuttgart.de/iaas/bpel/FaultHandler" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uni-stuttgart.de/iaas/bpel/SWAIL" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWAIL" targetNamespace="http://uni-stuttgart.de/iaas/bpel/SWAIL">

	<import location="FaultHandlerArtifacts.wsdl" namespace="http://uni-stuttgart.de/iaas/bpel/FaultHandler"/>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of types participating in this BPEL process The BPEL 
		Designer will generate default request and response types but you can define 
		or import any XML Schema type and use them as part of the message types. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<vprop:property name="startcfhp" type="xsd:string"/>
	<vprop:propertyAlias messageType="tns:SWAILRequestMessage" part="payload" propertyName="tns:startcfhp">
    <vprop:query><![CDATA[//tns:corId[1]]]></vprop:query>
	</vprop:propertyAlias>
	<vprop:propertyAlias messageType="tns:SWAILResponseMessage" part="payload" propertyName="tns:startcfhp">
    <vprop:query><![CDATA[//tns:corId[1]]]></vprop:query>
	</vprop:propertyAlias>
	<vprop:propertyAlias messageType="fh:FaultHandlerRequestMessage" part="payload" propertyName="tns:startcfhp">
    <vprop:query><![CDATA[//fh:input[1]]]></vprop:query>
	</vprop:propertyAlias>
	
	

	<plnk:partnerLinkType name="clientPLT">
		<plnk:role name="roleClient" portType="tns:SWAIL"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="faultHandlerPLT">
		<plnk:role name="roleFaultHandler" portType="fh:FaultHandlerPT"/>
	</plnk:partnerLinkType>


	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://uni-stuttgart.de/iaas/bpel/SWAIL">

			<element name="SWAILRequest">
				<complexType>
					<sequence>
						<element name="corId" type="string"/>
						<element name="input" type="string"/>
					</sequence>
				</complexType>
			</element>

			<element name="SWAILResponse">
				<complexType>
					<sequence>
						<element name="corId" type="string"/>
						<element name="result" type="string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="SWAILRequestMessage">
		<part element="tns:SWAILRequest" name="payload"/>
	</message>
	<message name="SWAILResponseMessage">
		<part element="tns:SWAILResponse" name="payload"/>
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the SWAIL BPEL process -->
	<portType name="SWAIL">
		<operation name="process">
			<input message="tns:SWAILRequestMessage"/>
			<output message="tns:SWAILResponseMessage"/>
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="SWAILSOAPBinding" type="tns:SWAIL">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process">
			<soap:operation soapAction="http://uni-stuttgart.de/iaas/bpel/SWAIL/process"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="SWAILProcessService">
		<port binding="tns:SWAILSOAPBinding" name="SWAILProcessPort">
			<soap:address location="http://localhost:8080/ode/processes/SWAIL"/>
		</port>
	</service>
</definitions>
