org.bpel4chor.mergeChoreography.test/output/Szenario12/BpelPrinterException.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.iaas.uni_stuttgart.de" xmlns:intf="http://webservice.iaas.uni_stuttgart.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.iaas.uni_stuttgart.de">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.iaas.uni_stuttgart.de">
			<element name="print">
				<complexType/>
			</element>
			<element name="printResponse">
				<complexType/>
			</element>
			<complexType name="MyServiceFault">
				<sequence>
					<element name="faultCode" nillable="true" type="xsd:string"/>
					<element name="faultString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="MyServiceException">
				<sequence>
					<element name="faultInfo" nillable="true" type="impl:MyServiceFault"/>
				</sequence>
			</complexType>
			<element name="MyServiceException" type="impl:MyServiceException"/>
			<element name="printRuntime">
				<complexType/>
			</element>
			<element name="printRuntimeResponse">
				<complexType/>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="printRuntimeRequest">
		<wsdl:part element="impl:printRuntime" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="printRuntimeResponse">
		<wsdl:part element="impl:printRuntimeResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="printRequest">
		<wsdl:part element="impl:print" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="printResponse">
		<wsdl:part element="impl:printResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MyServiceException">
		<wsdl:part element="impl:MyServiceException" name="MyServiceException"/>
	</wsdl:message>
	<wsdl:portType name="BpelPrinterException">
		<wsdl:operation name="print">
			<wsdl:input message="impl:printRequest" name="printRequest"/>
			<wsdl:output message="impl:printResponse" name="printResponse"/>
			<wsdl:fault message="impl:MyServiceException" name="MyServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="printRuntime">
			<wsdl:input message="impl:printRuntimeRequest" name="printRuntimeRequest"/>
			<wsdl:output message="impl:printRuntimeResponse" name="printRuntimeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BpelPrinterExceptionSoapBinding" type="impl:BpelPrinterException">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="print">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="printRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="printResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="MyServiceException">
				<wsdlsoap:fault name="MyServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="printRuntime">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="printRuntimeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="printRuntimeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BpelPrinterExceptionService">
		<wsdl:port binding="impl:BpelPrinterExceptionSoapBinding" name="BpelPrinterException">
			<wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/BpelPrinterException"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
