org.bpel4chor.mergeChoreography.test/output/ASP12/P2ASP12.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.iaas.uni-stuttgart.de" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="P2ASP12" targetNamespace="http://www.iaas.uni-stuttgart.de">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of services participating in this BPEL process The 
		default output of the BPEL designer uses strings as input and output to the 
		BPEL Process. But you can define or import any XML Schema type and us them 
		as part of the message types. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iaas.uni-stuttgart.de">

			<element name="P2ASP12Request">
				<complexType>
					<sequence>
						<element name="input" type="string"/>
					</sequence>
				</complexType>
			</element>

			<element name="P2ASP12Response">
				<complexType>
					<sequence>
						<element name="result" type="string"/>
					</sequence>
				</complexType>
			</element>

		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="P2ASP12RequestMessage">
		<part element="tns:P2ASP12Request" name="payload"/>
	</message>

	<message name="P2ASP12ResponseMessage">
		<part element="tns:P2ASP12Response" name="payload"/>
	</message>

	<message name="P12P2ASP12RequestMessage">
		<part name="data" type="xsd:string"/>
	</message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the P2ASP12 BPEL process -->
	<portType name="P2ASP12">
		<operation name="initiate">
			<input message="tns:P2ASP12RequestMessage"/>
		</operation>
	</portType>

	<!-- portType implemented by the requester of P2ASP12 BPEL process for asynchronous 
		callback purposes -->
	<portType name="P2ASP12Callback">
		<operation name="onResult">
			<input message="tns:P2ASP12ResponseMessage"/>
		</operation>
	</portType>
	
	<portType name="P1ASP12toP2ASP22PT">
		<operation name="Invoke1toReceive1Operation">
			<input message="tns:P12P2ASP12RequestMessage"/>
		</operation>
	</portType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION the P2ASP12 partnerLinkType binds the provider 
		and requester portType into an asynchronous conversation. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="P2ASP12">
		<plnk:role name="P2ASP12Provider" portType="tns:P2ASP12"/>
		<plnk:role name="P2ASP12Requester" portType="tns:P2ASP12Callback"/>
	</plnk:partnerLinkType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="P2ASP12Binding" type="tns:P2ASP12">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="initiate">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/initiate"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>

	<binding name="P2ASP12CallbackBinding" type="tns:P2ASP12Callback">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="onResult">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/onResult"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<service name="P2ASP12Service">
		<port binding="tns:P2ASP12Binding" name="P2ASP12Port">
			<soap:address location="http://localhost:8080/P2ASP12"/>
		</port>
	</service>

	<service name="P2ASP12ServiceCallback">
		<port binding="tns:P2ASP12CallbackBinding" name="P2ASP12PortCallbackPort">
			<soap:address location="http://localhost:8080/P2ASP12Callback"/>
		</port>
	</service>
</definitions>
